@import '../../scss/index.scss';
.header {
    a {
        margin-left: 10px;
    }
    position: relative;
    border-bottom: 1px solid $corporativo;
    padding: 20px 0;
    background-color: $background-dark;
    z-index: 1;
    &__logo {
        display: flex !important;
        align-items: center;
    }
    .ant-image-img {
        width: 125px;
    }
}