@import '../../scss/index.scss';
.admin-sider {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 60px;
    background-color: $background-dark !important;
    /*    .ant-menu {
        .ant-menu-item {
            a {
                svg {
                    width: 20px;
                    height: 20px;
                    fill: white;
                }
            }
        }
    } */
}