@import '../../../scss/index.scss';
.upload-avatar {
    cursor: pointer;
    display: table;
    margin: 0 auto;
    padding: 16px;
    margin-bottom: 20px;
    width: 200px;
    height: 100%;
    img {
        width: 200px;
        height: 100%;
    }
}

.form-edit {
    text-align: center;
    .ant-form-item {
        margin-top: 5px;
        margin-bottom: 5px;
        .TextArea {
            width: 100%;
            height: 120px;
        }
    }
}